
.header-container{
  position: relative;
  display: flex;
  padding-top: 25px;
  padding-bottom: 19px;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {  
 
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;     
  letter-spacing: -0.03em;  
  color: #111111;
}

.logo-span {
  font-style: italic;
}

.logo-icon {
  width: 21px;
  height: 21px;
}

.header-nav-list {
  display: flex;
  gap: 24px;

}

.header-nav-item {}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-orange);
}

.header-soc-list {
  display: flex;
  gap: 20px;
}

.header-soc-item {}

.soc-link-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.header-soc-link:hover,
.header-soc-link:focus {
  fill: var(--color-orange);
}

.header-modal-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;   
    margin-left: auto;
}

.burger-button {
  width: 28px;
  height: 28px;
}

.header-modal {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 220px;
  height: 100%;
  background-color: var(--color-dark-purple);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal.is-open {
  transform: translateX(0);
}

.header-close-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.header-close-button:hover .header-modal-close,
.header-close-button:focus .header-modal-close {
  stroke: var(--color-orange);
}

.header-modal-close {
  position: absolute;
  top: 24px;
  right: 32px;
  display: block;
  width: 28px;
  height: 28px;
  stroke: var(--color-white-default);
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 156px;
  margin-left: 50px;

}

.modal-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--color-white-default);
}

.modal-nav-link:hover,
.modal-nav-link:focus {
  color: var(--color-orange);
}

.modal-nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.header-modal-soc-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
}

.header-modal .soc-link-icon {
  fill: var(--color-white-default);
}

.header-modal-soc-link:hover .soc-link-icon,
.header-modal-soc-link:focus .soc-link-icon {
  fill: var(--color-orange);
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .header-modal {
    width: 290px;
  }
}


 @media screen and (max-width: 1199px) {
  .header-nav-list,
  .header-soc-list {
    display: none;
    }
  }

    @media screen and (min-width: 1200px) {
      .header-modal-button {
        display: none;
      }

      .logo-container {
        margin-right: 190px;
      }

      .logo {
        width: 185px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
      }

      .logo-span {
        font-style: italic;
      }

      .header-soc-list {
        margin-left: auto;
      }
    }


